Repository ChoaibMouhrach/codebuddy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext, prettier --write, npx -y sort-package-json

feat(app): Add shadcn UI and override colors palette
  .prettierignore
  .prettierrc
  .prettierrc.cjs
  app/globals.css
  app/page.tsx
  components.json
  components/ui/button.tsx
  lib/utils.ts
  package.json
  pnpm-lock.yaml
  tailwind.config.js
  tsconfig.json
Due: prettier --write, npx -y sort-package-json

dockerizing the app
  .dockerignore
  Dockerfile
  app/page.tsx
  diagrams/usecase.drawio
  docker-compose.yaml
Due: none

Update README.md
  README.md
Due: none

downgrade docker-compose to 3.3 version
  docker-compose.yaml
Due: none

mutation the home page
  app/page.tsx
Due: none

adding diagrams to dockerigone and remove volume from docker compose
  .dockerignore
  app/page.tsx
  docker-compose.yaml
Due: none

dockerizing the app
  .dockerignore
  Dockerfile
  app/page.tsx
  docker-compose.yaml
Due: none

feat(app): Create hero section
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/home/background/background.module.css
  components/home/background/index.tsx
  components/home/hero.module.css
  components/home/hero.tsx
  components/ui/button.tsx
  public/_static/grid.svg
  public/_static/vector-1.svg
  styles/Inter-Medium.ttf
  styles/Satoshi-Black.ttf
  styles/Satoshi-Bold.ttf
  styles/Satoshi-Variable.woff2
  styles/fonts.ts
  tailwind.config.js
  tsconfig.json
Due: prettier --write

feat(app): Create application landing page
  app/favicon.ico
  app/page.tsx
  components/home/background/index.tsx
  components/home/features.module.css
  components/home/features.tsx
  components/home/footer.tsx
  components/home/hero.tsx
  public/_static/logo.svg
Due: none

fixing the features grid in small screens and changing the logo from 'img' to 'next/image'
  .prettierignore
  app/page.tsx
  components/home/features.module.css
  components/home/features.tsx
  components/home/footer.tsx
  components/home/hero.tsx
  pnpm-lock.yaml
Due: none

making husky pre-commit executable
  .husky/pre-commit
Due: none

husky fix
  package.json
  pnpm-lock.yaml
Due: prettier --write, npx -y sort-package-json

chore: update metadata
  app/layout.tsx
  app/page.tsx
  lib/utils.ts
  public/_static/thumbnail.png
  public/favicon.ico
Due: prettier --write

auth sign in and sign up
  app/(auth)/layout.tsx
  app/(auth)/sign-in/page.tsx
  app/(auth)/sign-up/page.tsx
  app/(private)/dashboard/page.tsx
  app/(public)/page.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/custom/auth-form.tsx
  components/custom/next-progress-bar.tsx
  components/home/background/background.module.css
  components/home/background/index.tsx
  components/home/features.module.css
  components/home/features.tsx
  components/home/footer.tsx
  components/home/hero.module.css
  components/home/hero.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/form.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/separator.tsx
  lib/utils.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, npx -y sort-package-json

dashboard shell
  components/custom/auth/auth-form.tsx
  components/custom/common/logo.tsx
  components/custom/common/next-progress-bar.tsx
  components/custom/private/dashboard/nav-bar.tsx
  components/custom/private/dashboard/side-bar.tsx
  components/custom/public/nav-bar.tsx
Due: none

github authentication and proected pages
  .env.example
  .gitignore
  app/(auth)/layout.tsx
  app/(auth)/sign-in/page.tsx
  app/(auth)/sign-up/page.tsx
  app/(private)/dashboard/layout.tsx
  app/(private)/dashboard/page.tsx
  app/(public)/page.tsx
  app/api/auth/[...nextauth]/route.ts
  app/globals.css
  app/layout.tsx
  components/custom/auth/auth-form.tsx
  components/custom/common/avatar-dropdown.tsx
  components/custom/private/dashboard/nav-bar.tsx
  components/custom/public/nav-bar.tsx
  components/ui/avatar.tsx
  components/ui/dropdown-menu.tsx
  lib/auth-options.tsx
  lib/config.ts
  lib/db.ts
  middleware.ts
  package.json
  pnpm-lock.yaml
  prisma/migrations/20230728051350_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: prettier --write, npx -y sort-package-json

magic link implementation
  app/layout.tsx
  components/custom/auth/auth-form.tsx
  components/ui/toast.tsx
  components/ui/toaster.tsx
  components/ui/use-toast.ts
  lib/auth-options.tsx
  lib/config.ts
  lib/mailer.ts
  middleware.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, npx -y sort-package-json

fixing env.example and updating dashboard shell's sideBar
  .env.example
  .eslintignore
  app/(auth)/layout.tsx
  app/(auth)/sign-in/page.tsx
  app/(auth)/sign-up/page.tsx
  app/(private)/dashboard/layout.tsx
  app/(private)/dashboard/page.tsx
  app/(public)/page.tsx
  app/layout.tsx
  components/custom/auth/auth-form.tsx
  components/custom/common/avatar-dropdown.tsx
  components/custom/common/logo.tsx
  components/custom/common/next-progress-bar.tsx
  components/custom/private/dashboard/nav-bar.tsx
  components/custom/private/dashboard/side-bar.tsx
  components/custom/public/nav-bar.tsx
  components/ui/avatar.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/collapsible.tsx
  components/ui/dropdown-menu.tsx
  components/ui/form.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/separator.tsx
  components/ui/sheet.tsx
  components/ui/toast.tsx
  components/ui/toaster.tsx
  constants/dashboard/side-bar.tsx
  lib/auth-options.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, npx -y sort-package-json

seeding database
  components/custom/private/dashboard/side-bar.tsx
  package.json
  pnpm-lock.yaml
  prisma/migrations/20230728051350_init/migration.sql
  prisma/migrations/20230729013731_init/migration.sql
  prisma/migrations/20230729014114_many_to_many_subscripts_and_features/migration.sql
  prisma/migrations/20230729070335_unique_subscription_and_feature/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: prettier --write, npx -y sort-package-json

fix sign in functionality and adding subscriptions and roles
  app/(public)/page.tsx
  lib/auth-options.ts
  lib/auth-options.tsx
Due: prettier --write

update profile and delete account cards
  app/(private)/dashboard/layout.tsx
  app/(private)/dashboard/profile/page.tsx
Due: none

adding docker for development
  .dockerignore
  .env.example
  .eslintignore
  Dockerfile
  docker-compose.dev.yaml
  docker-compose.yaml
  package.json
Due: prettier --write, npx -y sort-package-json

fixing middleware
  package.json
  pnpm-lock.yaml
  src/app/(public)/page.tsx
  src/components/custom/public/nav-bar.tsx
  src/components/custom/shared/avatar-dropdown.tsx
  src/middleware.ts
Due: prettier --write, npx -y sort-package-json

fix: user get loggedout when browser is closed
  src/app/layout.tsx
  src/components/custom/shared/avatar-dropdown.tsx
  src/components/custom/shared/session-wrapper.tsx
Due: none

feat(ui): update login form
  src/app/(auth)/layout.tsx
  src/app/(auth)/sign-in/page.tsx
  src/app/globals.css
  src/components/custom/auth/auth-form.tsx
  src/components/home/background/background.module.css
  src/components/home/background/index.tsx
  src/components/ui/button.tsx
Due: none

Path conditions:
  eslint --fix --ext: any of: "**/*.{ts,tsx}"
  prettier --write: any of: ./**/*.{ts,js,json,*rc}
  npx -y sort-package-json: any of: package.json
